div(style={
    'height':'100%',
    'display':'flex',
    'flex-wrap':'wrap',
    'justify-content':'center',
    'align-items':'center'
})
    form(method="post"
        action="/signup"
        style={margin: '0 auto 0',
            'flex':'0 0 80%',
            'display':'flex',
            'align-items':'center',
            'justify-content':'center',
            'flex-wrap':'wrap'
        })
        input.form-control(type="text"
            name="email"
            placeholder="email")
        input.form-control(type="text"
            name="username"
            placeholder="username")
        input.form-control(type="password"
            name="pw"
            placeholder="password")
        input.form-control(type="submit"
            value="Create Account")
